@page "/"

<PageTitle>Start</PageTitle>

<h1>Michał Witkowski 119773</h1>

<h2 class="welcome">Welcome</h2> 

<style>
    h1, h2 {
        color: #333; 
    }

    .welcome {
        color: blue; 
    }
</style>

